body
{
	background-color: rgb(244,244,244);
	color: rgb(38,38,38);
}
.main_info > p
{
	color: rgb(38,38,38);
}
.participants
{
	color: rgb(38,38,38);
}

.main > p
{
		color: rgb(38,38,38);
}