html
{
	height:100%;
}
header{
	height: 30px;
	background-color: black; 
	color: white;
}
header span{
	display: inline-block;
	width: 33%;
}
main{
	height:100%;
	margin:auto;
}
main div{
	transition: 1s;
		overflow-y: hidden;
}
body
{
	height:100%
}
.hide
{
  display: none;
}
.hovered {
  background-color: #d1d8e2;
}

#visualization{
	display: inline-block;
	width:0%; 
	height: 100%; 
	background-color: rgb(51,51,51); 
	float: left;
}

.project_switch_panel{
	display: inline-block; 
	position: absolute; 
	width: 5%; 
	height: 100%; 
	background-color: black; 
	opacity: 0.3;
}
