#minimized_apps
{
		width: 	30%;
	text-align: center;
	margin-left: 35%;
	margin-top: 2%;
}
#tool_bar
{
		background-color: rgb(31,31,31); 
		text-align: center;
		position: absolute;
		float:bottom;
		margin-left: 40%;
		width: 20%;
		height: max-content;
		overflow-x: hidden;
		z-index:1001;
		border-radius: 20px;
		margin-top:85vh;
}
#tool_bar > span
{
	width: 12%;
	padding:0 2%;
}
#tool_bar span > img
{
	width: 100%;
}
#tool_bar span:hover
{
	margin:0;
	width: 15%;
}
body
{
	overflow-y: hidden;
}
#board_map
{
	width:8%; 
	height:8%
	margin-top: 85%; 
	margin-left:5%; 
}
#viz_content
{
	overflow-x: scroll;
	overflow-y: scroll;
	height: 95%;
	width: 100%;
	position: relative;
}

#add_element_menu
{
	width: 	30%;
	text-align: center;
	margin-left: 35%;
	margin-top: 2%;
}

._content
{
	position:absolute; 
	cursor:pointer;
		transition: 0s;
		background-color:rgb(282,189,53);
		border-radius: 5px;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.25);
}
._content div
{
		overflow-x: hidden;
}
._content > div > input
{
	width: 80%;
}
._content > div > button
{
	width: 5%;
	max-width: 20px;
	margin-top: 5px;
	background: none;
	border:none;
	padding:0;
	margin-right:1%;
	
	float: right;
}

._content > div > button > img
{
	width: 100%;
}

.my_canvas
{
	cursor: crosshair;
	resize: both;
	transition: 0s;
}

.my_canvas canvas
{
	width: 100%;
	height: 100%;
}

.my_note
{
	resize: both;
	overflow-x:hidden;
}
.my_checklist
{
	height: auto;
		resize: both;
}
.my_image
{
	resize: both;
}
.my_video iframe
{
	width: 100%;
	height: 100%;
}
.my_file
{
	background: none;
	width: 5%;
	box-shadow: none;
	border-radius: none;
}
.my_file image
{
	width: 100%;
}
.my_file a
{
	color:white;
	text-decoration: none;
	display: none;
}
.my_video, .my_audio
{
	height:auto;
	resize: both;
}

._content img
{
	max-width: 100%;
	max-height: 100%;
}
._content img: hover
{
	width:10%;
}
._content textarea
{
	height:auto; 
	border:none; 
	background-color:rgb(282,189,53);
	display:block;
}
._content input
{
	display:inline-block; 
	width:80%;
	background-color:rgb(282,189,53);
	border:none;
}
._content span
{
	display:inline-block;
	border:none;  
	background-color:rgb(282,189,53)
}

.my_file input
{
	width: 100%;
	color:white;
	background: none;
}

#set
{	
	position:fixed; 
	z-index:1000;
	margin-left:400px;

	background-color: rgb(33,33,33);
	color: rgb(255,186,53);
	
	border-radius:5px;
}
#set a
{
	text-decoration: none;
	color:rgb(33,33,33);
}
#set input:not([type=radio]) 
{
	width: 90%;
	margin: 0 4%;
	text-align: center;
}
#deadline_info
{
	text-align: center;
}
#deadline_info input[type=date], #deadline_info input[type=time]
{
  background-color: rgb(205,37,64);
  color: rgb(33,33,33);
  border:none;
	width: min-content;
	display: inline-block;
}
.is_drag
{
	position:absolute; 
	z-index:2000;
	border:none;
	width:100%; 
	height:100%;
	opacity:0.5;
	background-color:black;
}
#set input[type=text]
{
	border: 1px solid rgb(255,186,53);
	border-radius: 5px;
	background-color: rgb(33,33,33);
	color: rgb(255,186,53);
}
#set span
{
		margin: 0 4%;
}
#set > button:not(.add_button)
{
	display: block;
	margin: 0 auto;
	border:none;
	background-color: rgb(23,23,23);
	color: rgb(214,201,201);
	margin-top: 2%;
	border-radius: 3px;
}
#set .add_button
{
	width: 70% !important;
	margin-left: 15%;
}
.close_button
{
	width: 3%;
	padding: 0;
	background:none;
	border:none;
	margin-right: 2%;
}
.close_button img
{
	width: 100%;
}

.form_radio_group-item
{
	display: inline-block;
	width: calc(100%/7);
}
.form_radio_group-item input
{
	opacity: 0;
	height: 100%;
	width: 100%;
}

.form_radio_group-item input[type=radio]:checked + div{
	height: 50%;
	border: 2px solid black;
	transition: 0s;
}

.add_element_menu
{
	position:absolute;
	background-color: rgb(33,33,33);
	color: rgb(205,193,193);

	border-radius: 10px;
	border: 2px solid black;
	z-index: 2000;
}
.add_element_menu .add_button
{
	width: 40% !important;
	height: 30px;
	border-radius: 20px;
}
.add_element_menu > span
{
	display: inline-block;
	width: 92%; 
	padding-left: 3%;
}
.add_element_menu input
{
	width: 	80%;
	margin: 0 2%;
		background: none;
		border:2px solid rgb(205,193,193);
		color: rgb(193,193,193);
		border-radius: 10px;
}

.menu_controls
{
	width: 50%;
	height: max-content;
	margin: 0 auto;
}
.menu_controls button
{
	width: 50%;
	height: 100%;
	background-color:rgba(0,0,0,0);
	border:1px solid black;
	color: rgb(193,193,193);
	font-size: 80%;
}

.menu_controls button:nth-child(1)
{
	background-color: rgb(22,22,22); 
	border-top-left-radius: 6px; 
	border-bottom-left-radius: 6px;
}
.menu_controls button:nth-child(2)
{
	background-color: rgba(0,0,0,0);
	border-top-right-radius: 6px; 
	border-bottom-right-radius: 6px;
}
#menu_references
{
	margin-bottom: 5%;
}
.add_element_menu ul
{
	cursor: pointer;
	margin: 5% 5% 0 5%;
	list-style: none;
}

/*
	
	
*/
.slide_pannel
{
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 2000;
}
.slide_pannel > span
{
	background-color:black;
	opacity: 0.7;
	position: absolute;
}
.slide_pannel > span:hover
{
	background-color: white;
}
#slide_to_left
{
	width:1%; 
	height:100%; 
}
#slide_to_right
{
	width:1%; 
	height:100%; 
	margin-left: 99%;
}
.new_right_pannel , .new_bottom_pannel
{
	width:3% !important; 
	height:10% !important; 
	margin-left: 97% !important;
	margin-top: 40vh;
	background-color: rgb(255,186,53) !important;
	opacity: 1 !important;
	color:black !important;
	text-align: center;
}
.new_right_pannel:hover , .new_bottom_pannel:hover
{
	background-color: rgb(53,186,255) !important;
}
.new_bottom_pannel
{
	width:10% !important;
	margin-left: 45% !important;
	margin-top: 85vh !important;	
}
.new_right_pannel > p , .new_bottom_pannel > p
{	text-align: center;
	display: block !important;
	margin:0;
}

#slide_to_top
{
	width:100%; 
	height:2%;
}
#slide_to_bottom
{
	width:100%; 
	height:2%;
	margin-top:42%;
}

#board_map
{
	position: absolute;
	z-index: 2000;

	width: 10%;
	height: 10%;

	margin-top: 80vh;
	margin-left:2%;
	
	background-color: rgb(22,22,22);
	border:2px solid black;

	cursor: crosshair;
}


/*



*/

input[type=range] {
  width: 100%;
  margin: 5.85px 0;
  background-color: transparent;
  -webkit-appearance: none;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  background: rgb(255, 186, 53);
  border-radius: 1px;
  width: 100%;
  height: 11.3px;
  cursor: pointer;
}
input[type=range]::-webkit-slider-thumb {
  margin-top: -6.95px;
  width: 10px;
  height: 10px;
  background: #ffba35;
  border: 1.9px solid #000000;
  border-radius: 12px;
  cursor: pointer;
  -webkit-appearance: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ffc34f;
}
input[type=range]::-moz-range-track {
  background: rgb(255, 186, 53);
  border-radius: 10px;
  width: 100%;
  height: 8px;
  cursor: pointer;
}
input[type=range]::-moz-range-thumb {
  width: 10px;
  height: 10px;
  background: #ffba35;
  border: 1.9px solid #000000;
  border-radius: 12px;
  cursor: pointer;
}
input[type=range]::-ms-track {
  background: transparent;
  border-color: transparent;
  border-width: 5.85px 0;
  color: transparent;
  width: 100%;
  height: 11.3px;
  cursor: pointer;
}
input[type=range]::-ms-fill-lower {
  background: #ffb11b;
  border-radius: 2px;
}
input[type=range]::-ms-fill-upper {
  background: rgb(255, 186, 53);
  border-radius: 2px;
}
input[type=range]::-ms-thumb {
  width: 10px;
  height: 10px;
  background: #ffba35;
  border: 1.9px solid #000000;
  border-radius: 12px;
  cursor: pointer;
  margin-top: 0px;
  /*Needed to keep the Edge thumb centred*/
}
input[type=range]:focus::-ms-fill-lower {
  background: rgb(255, 186, 53);
}
input[type=range]:focus::-ms-fill-upper {
  background: #ffc34f;
}
/*TODO: Use one of the selectors from https://stackoverflow.com/a/20541859/7077589 and figure out
how to remove the virtical space around the range input in IE*/
@supports (-ms-ime-align:auto) {
  /* Pre-Chromium Edge only styles, selector taken from hhttps://stackoverflow.com/a/32202953/7077589 */
  input[type=range] {
    margin: 0;
    /*Edge starts the margin from the thumb, not the track as other browsers do*/
  }
}

input[type=range] {
  width: 100%;
  margin: 5.85px 0;
  background-color: transparent;
  -webkit-appearance: none;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  background: rgb(255, 186, 53);
  border-radius: 10px;
  width: 100%;
  height: 11.3px;
  cursor: pointer;
}
input[type=range]::-webkit-slider-thumb {
  margin-top: -6.95px;
  width: 10px;
  height: 10px;
  background: #ffba35;
  border: 1.9px solid #000000;
  border-radius: 12px;
  cursor: pointer;
  -webkit-appearance: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ffc34f;
}
input[type=range]::-moz-range-track {
  background: rgb(255, 186, 53);
  border-radius: 10px;
  width: 100%;
  height: 11.3px;
  cursor: pointer;
}
input[type=range]::-moz-range-thumb {
  width: 10px;
  height: 10px;
  background: #ffba35;
  border: 1.9px solid #000000;
  border-radius: 12px;
  cursor: pointer;
}
input[type=range]::-ms-track {
  background: transparent;
  border-color: transparent;
  border-width: 5.85px 0;
  color: transparent;
  width: 100%;
  height: 11.3px;
  cursor: pointer;
}
input[type=range]::-ms-fill-lower {
  background: #ffb11b;
  border: 1.1px solid #18d501;
  border-radius: 2px;
}
input[type=range]::-ms-fill-upper {
  background: rgb(255, 186, 53);
  border-radius: 2px;
}
input[type=range]::-ms-thumb {
  width: 10px;
  height: 10px;
  background: #ffba35;
  border: 1.9px solid #000000;
  border-radius: 12px;
  cursor: pointer;
  margin-top: 0px;
  /*Needed to keep the Edge thumb centred*/
}
input[type=range]:focus::-ms-fill-lower {
  background: rgb(255, 186, 53);
}
input[type=range]:focus::-ms-fill-upper {
  background: #ffc34f;
}
/*TODO: Use one of the selectors from https://stackoverflow.com/a/20541859/7077589 and figure out
how to remove the virtical space around the range input in IE*/
@supports (-ms-ime-align:auto) {
  /* Pre-Chromium Edge only styles, selector taken from https://stackoverflow.com/a/32202953/7077589 */
  input[type=range] {
    margin: 0;
    /*Edge starts the margin from the thumb, not the track as other browsers do*/
  }
}